body {
	margin: 0;
	padding: 0;
}

#canvas {
  display: block;
  z-index: -5;
}

p, #selecter, #cellsize * {
  display: inline;
}

#mode *, #reset * , #cellsize *{
  margin: 3px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}